.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-width: 600px;
  padding: 20px;
  border: 2px solid #16a61e;
  border-radius: 20px;
  color: #176ca9;
  background-color: #e2edd0;
}

.label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-weight: 500;
}

.input {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #16a61e;
  border-radius: 8px;
  color: #363aaf;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms ease-in-out;
}

input::placeholder {
  opacity: 0.4;
  color: #1816a6;
}

.input:hover,
.input:focus {
  border-color: #363aaf;
}

.error,
.errorText {
  text-align: center;
  color: #fa0000;
}

.btn {
  min-width: 120px;
  padding: 8px;
  margin: 0 auto;
  background-color: #4c88b3;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #fafafa;
  transition: background-color 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #144776;
}
