.contactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
}

.btnBlock {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.btnUpdate {
  padding: 4px;
  background-color: #dc9c1b;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  color: #fafafa;
}

.btnUpdate:hover,
.btnUpdate:focus {
  background-color: #dcb15d;
}

.btnDelete {
  padding: 4px;
  background-color: #ff0000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  color: #fafafa;
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: #fa4d4d;
}
