.authBlock {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.link {
  padding: 20px 0;
  font-weight: 500;
  font-size: 20px;
  transition: color 250ms ease, text-decoration 250ms ease;
}

.link:hover,
.link:focus {
  color: #f19705;
  text-decoration: underline;
}
