.list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

.item {
  width: 240px;
  padding: 8px 16px;
  border: 2px solid #16a61e;
  border-radius: 20px;
  background-color: #e2edd0;
  color: #176ca9;
  font-weight: 500;
}
